@model ASM.Models.ViewModels.Category.CategoryViewModel
@{
    ViewData["Title"] = "Cập nhật danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Hidden field để giữ ID *@
            <input type="hidden" asp-for="CategoryID" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên danh mục</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>
