@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] | Quản trị hệ thống</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/main_v2.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>

<body class="app sidebar-mini rtl">
    <!-- Header -->
    <header class="app-header">
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <ul class="app-nav">
            <li>
                <a class="app-nav__item" asp-controller="Account" asp-action="Logout" asp-area="Admin">
                    <i class='bx bx-log-out bx-rotate-180'></i>
                </a>
            </li>
        </ul>
    </header>

    <!-- Sidebar -->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" id="image_user" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item active" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                    <i class='app-menu__icon bx bx-tachometer'></i>
                    <span class="app-menu__label">Thống kê</span>
                </a>
            </li>

            <!-- Thêm mục Cập nhật thông tin cá nhân -->
            <li>
                <a class="app-menu__item" asp-area="Admin" asp-controller="Account" asp-action="Profile">
                    <i class='app-menu__icon bx bx-user-circle'></i>
                    <span class="app-menu__label">Cập nhật thông tin cá nhân</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" asp-area="Admin" asp-controller="User" asp-action="Index">
                    <i class='app-menu__icon bx bx-user'></i>
                    <span class="app-menu__label">Quản lý tài khoản người dùng</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" asp-area="Admin" asp-controller="Categories" asp-action="Index">
                    <i class='app-menu__icon bx bx-list-ul'></i>
                    <span class="app-menu__label">Quản lý danh mục</span>
                </a>
            </li>

             <li>
                <a class="app-menu__item" asp-area="Admin" asp-controller="Product" asp-action="Index">
                    <i class='app-menu__icon bx bx-list-ul'></i>
                    <span class="app-menu__label">Quản lý món ăn nhanh</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" asp-area="Admin" asp-controller="Combo" asp-action="Index">
                    <i class='app-menu__icon bx bx-package'></i>
                    <span class="app-menu__label">Quản lý Combo</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" asp-area="Admin" asp-controller="Order" asp-action="Index">
                    <i class='app-menu__icon bx bx-task'></i>
                    <span class="app-menu__label">Quản lý đơn đặt hàng</span>
                </a>
            </li>
        </ul>
    </aside>

    <!-- Nội dung -->
    <main class="app-content">
        @RenderBody()
    </main>

    <!-- Footer -->
    <div class="text-center" style="font-size: 13px">
        <p>
            <b>
                Copyright
                <script>document.write(new Date().getFullYear());</script>
                | Hệ thống quản lý bán hàng by Kwang
            </b>
        </p>
    </div>

    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/plugins/pace.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>
